* text=auto eol=lf

*.sma text eol=lf
*.inc text eol=lf
*.cfg text eol=lf
*.ini text eol=lf
*.txt text eol=lf
*.res text eol=lf
*.md  text eol=lf

*.bsp binary
*.wad binary
*.mdl binary
*.wav binary
*.spr binary